<div class="jumbotron text-center">
  <h1 class="display-3">Gitlab API Explorer</h1>
  <p class="lead">This is a simple Angular app to retrieve user's projects, show its tree and calculate API links to the raw file</p>
</div>

<div class="container">
  <form>
    <div class="form-group row">
      <label class="col-3 text-right col-form-label">Gitlab username</label>
      <input class="col-5 form-control" placeholder="username" autocomplete=off name="username" [(ngModel)]="userName">
      <div class="col-3">
        <button class="btn btn-primary" (click)="getUserProjects()">Fetch Projects</button>
      </div>
    </div>
  </form>

  <div class="row" *ngIf="user">
    <div class="card text-center" style="width: 100%">
      <div class="card-body">
        <img [src]="user.avatar_url" style="border-radius: 50%">
        <h4 class="card-title">{{user.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
        <form>
          <div class="form-group row">
            <label class="col-5 col-form-label text-right">Select a Project</label>
            <select class="col-7 form-control custom-select" *ngIf="projects" name="selectedProject" [(ngModel)]="selectedProject"
                    (ngModelChange)="onSelectProject($event)">
              <option *ngFor="let p of projects" [ngValue]="p">{{p.name}}</option>
            </select>
          </div>
        </form>
        <a [href]="user.web_url" class="card-link">Gitlab</a>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="selectedProject">
    <div class="card text-center" style="width: 100%">
      <div class="card-body">
        <img [src]="selectedProject.avatar_url" *ngIf="selectedProject.avatar_url" style="border-radius: 50%; max-height: 80px">
        <h4 class="card-title">{{selectedProject.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{selectedProject.description}}</h6>

        <div class="row text-left">
          <ul>
            <li *ngFor="let child of tree">
              <app-tree-item [treeItem]="child"></app-tree-item>
            </li>
          </ul>
        </div>

        <a [href]="selectedProject.web_url" class="card-link">Gitlab</a>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="small">You can find the source code on <a href="https://gitlab.com/AAbdelnasser/gitlab-api-explorer">Gitlab</a></p>
  </div>

</div>
